/* font-poppins imported */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 40px;
}

.banner-container {
    height: 80vh;
    display: flex;
    background-color: #161616;
    color: #ffffff;
    margin-top: 5vh;
}
.half-width {
    width: 50%;
    padding: 2%;
    overflow: hidden;
}
.banner-container h1 {
    font-weight: 900;
    line-height: 80px;
    font-size: 3rem;
}
.banner-container p {
    font-weight: 400;
}
.live-button {
    background-color: red;
    padding: 16px 25px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}
.live-button a {
    text-decoration: none;
    color: white;
}
.live-button a .fa-greater-than {
    margin-left: 15px;
    font-size: 0.8rem;
}

.banner-img {
    text-align: center;
    margin-bottom: -2.5%;
}

.banner-container img {
    width: 100%;
}

.banner-container img:hover {
    transform: scale(1.5);
    transition: 2s ease-in-out;
}

/* ----------------------------------------------------------- */

.main-container {
    display: flex;
    padding: 0;
}

.menu-bar {
    width: 250px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: #161616;
    border-radius: 10px;
    margin-right: 2%;
    padding: 25px;
    box-sizing: border-box;
}

.menu-button {
    padding: 15px 1rem;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 5px 0;
}
.menu-button a {
    text-decoration: none;
    color: black;
}

#third-menu {
    background-color: red;
}
#third-menu a {
    color: white;
}

.blogs {
    width: calc(80%-250px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.blog {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.blog:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.blog img {
    width: 100%;
}

.main-container .icons {
    display: flex;
    font-size: 0.8rem;
}
.main-container .icons .icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* --------------------------------------------------------- */

.view-all {
    display: none;
    background-color: rgba(97, 47, 94, 0.815);
    width: 20%;
    margin: 2% auto;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    padding: 2px;
}
.view-all:hover {
    background-color: rgba(163, 69, 157, 0.986);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.view-all h1 {
    text-align: center;
}

/* --------------------------------------------------------- */
footer {
    background-color: #282c2f;
    color: white;
    padding: 10px 0;
}
.footer-half-part {
    width: 45%;
    padding: 2%;
    margin-left:70px;
}

.footer-section {
    display: flex;
}
footer p {
    font-weight: 500;
    font-size: 15px;
}

footer .icon {
    padding: 8px;
    background-color: #857f7d3f;
    border-radius: 50%;
}
.social-media i {
    font-size: 1.5em;
    margin-right: 10px;
    color: rgba(167, 162, 167, 0.671);
}
footer a {
    text-decoration: none;
    margin: 4px 0;
}
#copyright {
    text-align: center;
    color: rgb(236, 194, 194);
}
